MAX_BOT_TOKEN=
PYRUS_BASE_URL=https://api.pyrus.com/v4
PYRUS_LOGIN=
PYRUS_SECURITY_KEY=
PYRUS_PERSON_ID=
PYRUS_TASK_FORM_ID=2303165
PYRUS_DEFAULT_PARTICIPANT_ID=
PYRUS_DEFAULT_PRIORITY_ITEM_ID=168194724
BOT_DB_PATH=data/bot.db